textarea {
  outline: none;
  resize: none;
  overflow: auto;
  margin: 0;
  border: none;
  width: 100%;
  height: 100%;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
pre.custom {
  text-align: left;
  background: #333;
  color: white;
  padding: 1em;
  border-radius: 2px;
  tab-size: 2;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  -webkit-tab-size: 2;
}
.copy {
  width: 3vw;
  height: 3vh;
}
html {
  font-size: 100%;
}
button {
  color: #FFFFFF;
  background: transparent;
  border: none !important;
  font-size: 75%;
}
.back {
  background-color: #002b36;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary {
    width: 67%;
  }
  #secondary {
    width: 30%;
    margin-left: 3%;
  }
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary {
    width: 100%;
  }
  #secondary {
    width: 100%;
    margin: 0;
    border: none;
  }
}

@media (min-width: 640px) {
  body {
    font-size: 1rem;
  }
}
@media (min-width: 960px) {
  body {
    font-size: 1.2rem;
  }
}
@media (min-width: 1100px) {
  body {
    font-size: 1.5rem;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body {
  width: 0%;
  height: 0%;
}
