textarea {
  outline: none;
  resize: none;
  overflow: auto;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
code {
  border: 1px solid #999;
  page-break-inside: avoid;
}
